n8n/rag.json
{
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.message }}",
        "options": {
          "systemMessage": "Vous êtes un AI assistant précieux. Vous représentez le projet MINERVA. Les gens posent des questions sur les projets, et vous les aidez en répondant à ces questions. Utilisez votre RagLabs pour répondre aux questions. Si vous ne pouvez pas répondre à une question, répondez simplement « Je ne sais pas »."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.9,
      "position": [
        0,
        -160
      ],
      "id": "9cba6490-81b9-41e3-bf13-bd3358eabfc1",
      "name": "RAG Agent"
    },
    {
      "parameters": {
        "content": "## RAG Agent",
        "height": 520,
        "width": 1000,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -320,
        -260
      ],
      "id": "16f0512c-1b14-4b46-ab8a-95853f306606",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -120,
        100
      ],
      "id": "b2fbbf83-5a57-4243-8fb8-c3a93bbcc10d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "7Sz3DIyzl5oGEASh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        80,
        100
      ],
      "id": "78f15cdd-ea86-4c75-b119-c0483ff29b0e",
      "name": "Simple Memory",
      "disabled": true
    },
    {
      "parameters": {
        "formTitle": "Add document to vec db ",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Add pdf Files Here",
              "fieldType": "file",
              "acceptFileTypes": ".pdf",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        840,
        -200
      ],
      "id": "102476c0-58d7-41a0-bc25-be570c135015",
      "name": "On form submission",
      "webhookId": "04adf862-8120-4a1d-94ca-66a49c27fe5b"
    },
    {
      "parameters": {
        "mode": "insert",
        "qdrantCollection": {
          "__rl": true,
          "value": "RagLabs",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        1100,
        -200
      ],
      "id": "f82b1e27-5d5f-4269-9a0b-e4efec4e0569",
      "name": "Qdrant Vector Store",
      "credentials": {
        "qdrantApi": {
          "id": "6mbTXMqhu2HiVnDa",
          "name": "Local QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1200,
        0
      ],
      "id": "f3e03404-e2fb-4e0e-adbc-53b8de454044",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1120,
        120
      ],
      "id": "9abf683f-b73b-42f4-abbb-d6c4726c296a",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "content": "RAG Injection",
        "height": 540,
        "width": 1000
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        740,
        -260
      ],
      "typeVersion": 1,
      "id": "fe8e1c7c-1d88-4c1a-9d96-58fa4b30bc7f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        920,
        160
      ],
      "id": "482c2e65-9443-4393-9f7d-53e95dc3552b",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "7Sz3DIyzl5oGEASh",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolName": "RagLabs",
        "toolDescription": "=",
        "qdrantCollection": {
          "__rl": true,
          "value": "RagLabs",
          "mode": "id"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreQdrant",
      "typeVersion": 1.1,
      "position": [
        300,
        100
      ],
      "id": "1ed0cc2a-c658-49ef-a89a-c67f507108a6",
      "name": "Qdrant Vector Store1",
      "credentials": {
        "qdrantApi": {
          "id": "6mbTXMqhu2HiVnDa",
          "name": "Local QdrantApi account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "c47f32b6-3cc5-4760-8681-6c7431f57409",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -280,
        -120
      ],
      "id": "39dfe553-3ff9-4358-badc-51ae64c90b0b",
      "name": "Webhook",
      "webhookId": "c47f32b6-3cc5-4760-8681-6c7431f57409"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        360,
        -200
      ],
      "id": "58aa25eb-9860-46ca-b165-45373bb29821",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "RAG Agent": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Qdrant Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Qdrant Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "RAG Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "RAG Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e275f26205c28ee68da8961c4518afc96b934e538a1752a051a2001596cb5ff1"
  }
}
